.skills-section-container {
  background-image: url(../../assets/images/texture1.png), linear-gradient(to bottom, transparent, var(--color-5), black);
  background-color: var(--color-5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skills-section-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent 90%, black);
  pointer-events: none;
}

.skills-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;  border-radius: 1rem;
  border: 1px solid #6f23ff;
  background-image: url(../../assets/images/texture1.png), linear-gradient(#6f23ff40, #7023ff40, #4b2a88b7);
  width: fit-content;
}

.skills-box ul {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.skills-box ul li {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7023ff40;
  border: 1px solid #6f23ff;
  font-size: 75%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.skills-box ul li:hover {
  background-color: #7023ff20;
}

.skill-icon {
  width: 5rem;
}

.skill-name {
  position: absolute;
  background-color: #4e239ed9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.skill-name:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .skills-section-container {
    font-size: 120%;
  }
}

@media (min-width: 1024px) {
  .skills-section-container {
    font-size: 140%;
  }
}

@media (min-width: 1024px) {
}
