.about-section-container {
  display: flex;
  flex-direction: column;
  color: var(--color-1);
  background-image: linear-gradient(to bottom, black, rgb(3, 3, 12), black);
  align-items: center;
  justify-content: center;
}

.about-information {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 25rem;
}

.about-title span {
  font-size: 2rem;
  font-family: var(--font-6);
  letter-spacing: 0.1rem;
}

.about-information p {
  color: var(--color-7);
}

.about-title p {
  color: goldenrod;
}

.about-information a {
  font-weight: 700;
  color: var(--color-2);
  text-decoration: none;
}

.about-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vitor-guedes {
  display: none;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .about-section-container {
    font-size: 120%;
    justify-content: center;
  }

  .about-information {
    max-width: calc(100% / 2);
    gap: 1.5rem;
  }

  .about-information p {
    min-width: 20rem;
  }

  .about-information ul {
    width: 50%;
  }

  .about-information ul li {
    font-size: 100%;
  }

  .vitor-guedes {
    display: flex;
    height: 15rem;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .about-section-container {
    font-size: 140%;
  }

  .vitor-guedes {
    display: flex;
    height: 25rem;
  }
}
