.project-container {
  border-radius: 0.5rem;
  width: 100%;
  min-width: 18rem;
  max-width: 25rem;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 20px black;
  color: var(--color-7);
  background-image: linear-gradient(var(--color-5), black);
  overflow: hidden;
}

.project-title {
  border: 1px solid #6f23ff;
  background-image: linear-gradient(#6f23ff40, #7023ff40, #ab8ce640);
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  color: white;
  padding: 0.75rem;
  font-size: 1rem;
}

.project-information {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-image: linear-gradient(#7023ff15, #7023ff15, #ab8ce615);
}

.project-skills {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-modal-skills {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
}

.project-skills li {
  padding: 0.05rem 0.5rem;
  border: 1px solid goldenrod;
  border-radius: 0.25rem;
  color: goldenrod;
  background-color: rgba(218, 165, 32, 0.1);
}

.project-modal-skills li {
  padding: 0.05rem 0.5rem;
  border: 1px solid goldenrod;
  border-radius: 0.25rem;
  color: goldenrod;
  background-color: rgba(218, 165, 32, 0.1);
}

.project-skills li:hover {
  background-color: rgba(218, 165, 32, 0.3);
}

.project-modal-skills li:hover {
  background-color: rgba(218, 165, 32, 0.3);
}

.project-image-div {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.project-image {
  width: 100%;
  aspect-ratio: 1 /1;
  transition: 0.5s;
}

.project-container:hover .project-image {
  transform: scale(1.035);
}

.project-container:hover .see-project p {
  animation: expand 1s infinite ease-in-out;
}

.see-project {
  border: 1px solid #6f23ff;
  background-image: linear-gradient(#6f23ff74, #7023ff74, #ab8ce674);
	color: #fff;
	font-family: var(--font-6);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.project-icon:hover,
.github-project:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
}

.modal.on {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 5;
  animation: modal 0.2s ease-in-out;
}

.project-modal {
  position: relative;
  padding: 1rem;
  max-width: 95%;
  max-height: 95%;
  border-radius: 0.5rem;
  background-size: 50%;
  border: 1px solid #6f23ff;
  background-image: url(../../../assets/images/texture1.png), linear-gradient(#6f23ff40, #7023ff40, #4b2a88b7);
  z-index: 100;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-modal-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25rem;
}

.project-modal-texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-modal-desktop-title {
  display: none;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 101;
  cursor: pointer;
}

.project-modal-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  border: 1px solid #6f23ff;
}

.project-modal h2 {
  color: white;
}

.project-modal h3 {
  color: goldenrod;
}

.modal-description {
  color: var(--color-7);
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal-description.on {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  -webkit-line-clamp: unset;
}

.project-modal-buttons {
  display: flex;
  gap: 0.25rem;
  padding-top: 1rem;
}

.project-modal-button {
  width: calc(100% / 2);
  padding: 0.5rem 0.75rem;
  color: white;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #6f23ff;
  background-color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.project-modal-button:hover {
  transform: scale(1.03);
  border-color: white;
}

.read-more {
  padding: 0;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  text-align: left;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

@keyframes play-project {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-1px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 480px) {
  .project-container {
    width: calc((100% / 2) - 2.5rem);
  }
}

@media (min-width: 768px) {
  .project-image-overlay {
    display: flex;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
  }

  .project-container:hover .project-image-overlay {
    background-color: transparent;
  }

  .project-modal-image {
    max-width: 25rem;
    max-height: 25rem;
  }

  .project-modal {
    flex-direction: row;
    height: fit-content;
    width: calc(100 / 2);
  }

  .project-modal-desktop-title {
    display: flex;
  }

  .project-modal-mobile-title {
    display: none;
  }

  .project-modal-buttons {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-modal-button {
    width: fit-content;
    padding: 0.5rem 1.75rem;
  }
}

@media (min-width: 1024px) {
  .project-container {
    width: calc((100% / 3) - 4rem);
  }
}