nav {
  position: fixed;
  display: flex;
  background-image: linear-gradient(to bottom, black, black, transparent);
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 3rem;
  width: 100%;
  left: -5px;
  padding: 0 2rem;
  z-index: 5;
}

.logo {
  height: 1.5rem;
}

.contact-info {
  display: none;
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.hamburger-menu > div {
  background-color: white;
  height: 2px;
  width: 15px;
  border-radius: 5rem;
  transition: 0.5s;
}

.hamburger-menu.on div:nth-child(1) {
  rotate: -45deg;
}

.hamburger-menu.on div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.on div:nth-child(3) {
  rotate: 45deg;
}

.navigation-list {
  display: none;
}

.navigation-list a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navigation-list.on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95) 95%, transparent);
  height: 100vh;
  animation: hamburger-slide 0.5s ease-in-out;
  z-index: 10000;
}

@keyframes hamburger-slide {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  nav {
    font-size: 120%;
    padding: 2rem 8rem;
    background-image: linear-gradient(to bottom, black, black, black, transparent);
  }

  .contact-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 50%;
  }

  .contact-info a {
    color: white;
    text-decoration: none;
  }

  .hamburger-menu.on div:nth-child(1) {
    rotate: 45deg;
  }
  
  .hamburger-menu.on div:nth-child(3) {
    rotate: -45deg;
  }

  .navigation-list.on {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-size: 1.5rem;
    position: fixed;
    top: 5rem;
    left: unset;
    right: 0;
    width: 400px;
    height: 100vh;
    background-image: unset;
    pointer-events: none;
    animation: unset;
  }

  .navigation-list.on li {
    width: 100%;
    padding: 0.5rem;
    background-image: linear-gradient(to left, black, black, black, black, rgba(0, 0, 0, 0.7), transparent);
    text-align: center;
    transition: 0.5s;
    position: relative
  }

  .navigation-list.on li:hover a {
    color: rgb(218, 165, 32);
  }

  .navigation-list.on li:nth-child(1) {
    pointer-events: visible;
    animation: hamburger-slide-right-1 0.5s;
  }

  .navigation-list.on li:nth-child(2) {
    pointer-events: visible;
    animation: hamburger-slide-right-2 0.5s;

  }

  .navigation-list.on li:nth-child(3) {
    pointer-events: visible;
    animation: hamburger-slide-right-3 0.5s;
  }

  .navigation-list.on li:nth-child(4) {
    pointer-events: visible;
    animation: hamburger-slide-right-4 0.5s;
  }

  .navigation-list.on li:nth-child(5) {
    pointer-events: visible;
    animation: hamburger-slide-right-5 0.5s;
  }

  .navigation-list.on li:nth-child(6) {
    pointer-events: visible;
    animation: hamburger-slide-right-6 0.5s;
  }
}

@media (min-width: 1024px) {
  nav {
    padding: 2rem 10rem;
    font-size: 140%;
  }
}

@keyframes hamburger-slide-right-1 {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes hamburger-slide-right-2 {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  16.66% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes hamburger-slide-right-3 {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  33.33% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes hamburger-slide-right-4 {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  49.99% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes hamburger-slide-right-5 {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  66.66% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes hamburger-slide-right-6 {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  83.33% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}