.contact-section-container {
  background-color: black;
  background-image: linear-gradient(135deg, transparent, transparent, rgba(218, 165, 32, 0.15));
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.contact-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  max-width: 25rem;
}

.contact-information p {
  color: var(--color-7);
}

.email-link {
  border: 1px solid goldenrod;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: goldenrod;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  transition: 0.5s;
}

.email-link:hover {
  background-color: rgba(218, 165, 32, 0.3);
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

footer ul a {
  color: white;
}

footer ul li {
  transition: 0.5s;
}

footer ul li:hover {
  transform: scale(1.2);
  rotate: 360deg;
}

.relative {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-phone {
  position: absolute;
  height: 15rem;
  pointer-events: none;
}

.phone-animation {
  animation: floating 4s infinite ease-in-out;
}

@keyframes floating {
  0% {

  }

  50% {
    rotate: -3deg;
    transform: translate3d(0, -10px, 0);  }

  100% {

  }
}

#form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#form input,
#form textarea,
#form button {
  padding: 0.75rem;
  border-radius: 0.5rem;
  outline: none;
}

#form button {
  background-color: #6f23ff;
  color: white;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .contact-section-container {
    font-size: 120%;
  }

  .contact-information {
    align-items: flex-start;
    text-align: left;
    gap: 1.5rem;
  }

  .dark-phone {
    height: 20rem;
  }

  footer ul {
    gap: 3rem;
  }
}

@media (min-width: 1024px) {
  .contact-section-container {
    font-size: 140%;
  }

  .contact-column {
    flex-direction: row;
    gap: 7.75rem;
    justify-content: space-between;
  }

  .relative {
    justify-content: flex-end;
  }
}
