.testimonials-section-container {
  background-image: linear-gradient(to bottom, black, transparent 15%), url(../../assets/images/texture1.png), linear-gradient(to bottom, var(--color-5), black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.testimonials-title {
  color: white;
  font-size: 2rem;
  font-family: var(--font-6);
  letter-spacing: 0.1rem;
}

.swiper {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #6f23ff;
  background-image: url(../../assets/images/texture1.png), linear-gradient(#6f23ff40, #7023ff40, #4b2a88b7);
  cursor: grab;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 1rem;
  height: fit-content;
}

.relative-div {
  position: relative;
}

.linkedin-testimonial {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color-1);
  border-radius: 25px;
  font-size: 2rem;
}

.swiper-slide img {
  display: block;
  width: 8rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #6f23ff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 75%;
}

.user-name {
  color: white;
  font-weight: 700;
}

.user-role {
  color: goldenrod;
  font-weight: 300;
}

.user-testimonial {
  color: var(--color-7);
  font-size: 75%;
}

.testimonial-flex {
  display: flex;
}

.quotes {
  width: 10rem;
  color: goldenrod;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .testimonials-section-container {
    font-size: 120%;
    justify-content: center;
  }

  .testimonials-information {
    font-size: 100%;
  }

  .swiper-slide img {
    width: 7rem;
  }

  .user-role {
    font-size: 90%;
  }

  .user-testimonial {
    font-size: 75%;
  }

  .arrow-icon {
    font-size: 75%;
  }
}

@media (min-width: 1024px) {
  .testimonials-section-container {
    font-size: 140%;
  }
}
