@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-mono');
@import url('https://fonts.cdnfonts.com/css/calibre');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/highman-trial');
                

:root {
  scroll-snap-type: y mandatory;
  
  /* colors */
  --color-1: #ebe3d9;
  --color-2: #6392f0;
  --color-3: #7e85d5;
  --color-4: #454998;
  --color-5: #05041f;
  --color-6: #03020b;
  --color-7: #acafc2;

  /* colors */
  --box-shadow-1: 3px 3px 10px rgba(0, 0, 0, 0.4);
  --box-shadow-2: 5px 5px 15px rgba(0, 0, 0, 0.4);
  --box-shadow-3: 10px 10px 25px rgba(0, 0, 0, 0.4);

  /* fonts */
  --font-1: 'Roboto', sans-serif;
  --font-2: 'Calibre', sans-serif;
  --font-3: 'SF Mono', sans-serif;
  --font-4: 'Poppins', sans-serif;
  --font-5: 'Kanit', sans-serif;
  --font-6: 'Highman Trial', sans-serif;
}

body {
 background-color: black;
 font-family: var(--font-5);
 line-height: 1.1rem;
}

main {
  height: 100vh;
}

section {
  padding: 1rem 2rem;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 5rem;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#2f0978, #7023ff, #2f0978);
  border-radius: 10px;
}

.loading-page {
  height: 100vh;
  width: 100%;
  background-color: black;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif {
  width: 20rem;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  body {
    line-height: 1.5rem;
  }

  section {
    padding: 4rem 8rem;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 5rem 10rem;
  }
}
